<div class="box">
<div class="box-block">

<h3 class='nameplate'>{{country.name}}</h3>


</div>
</div>
<br>

<button class='deleteButton' {{action 'deleteCountry'}}>Delete Country</button>
{{#link-to 'edit' country}}
<button class='button' type="submit" >Edit Country</button>
{{/link-to}}
