<div class="box">
<div class="box-block">
{{link-to 'country' country}}
<h2 class='nameplate'>{{country.name}}</h2>
{{/link-to}}
</div>
</div>
<br>

<a href '#' class='deleteButton' {{action 'deleteCountry'}}>Delete Country</a>
{{#link-to 'edit' country}}
<a href='#' class='button' type="submit" >Edit Customer</a>
{{/link-to}}
