<div class="card">
<div class="card-block">
  <h1> Name: {{ model.name }}</h1>

{{country-list/note-form createNote='createNote'}}

  {{country-list
  country=model
  toggleCountryDone='toggleCountryDone'
}}
</div>
</div>

{{#link-to 'countries'}}
<a href='#' class='button' type="submit" > Return to Country List</a>
{{/link-to}}
